.mailList{
flex: 1;
overflow: auto;
}
.mailList_settings{
display: flex;
justify-content: space-between;
top: 0;
position: sticky;
border-bottom: 1px solid whitesmoke;
background-color: white;
z-index: 999;
padding-right: 10px;
}
.mailList_sections{
display: flex;
position: sticky;
top: 0;
border-bottom: 1px solid whitesmoke;
background-color: white;
z-index: 999;
}

.mailList_list{
    padding-bottom: 20%;
}